ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 50vh;
  overflow: auto;
}
ul::-webkit-scrollbar {
  background-color: #82629d;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  width: 0.5rem;
}
ul::-webkit-scrollbar-thumb {
  background-color: rgb(199, 132, 186);
  border-radius: 10px;
  min-height: 24px;
}
ul::-webkit-scrollbar-track {
  background: #82629d;
  border-radius: 10px;
}
input {
  background-color: #82629d;
  color: #c3b3d1;
}
button {
  font: inherit;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #380774;
  color: #decdf2;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

button:hover,
button:active {
  background-color: #4a0774;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
