.page-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
ul {
  list-style: none;
}

@media (min-width: 768px) {
  .page-grid {
    grid-template-columns: 1fr 3fr;
    align-items: start;
  }
}

#users {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content {
  min-width: 0;
}
