.entity-card {
  border-radius: 1rem;
  padding: 1rem;
  color: white;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 130px;
  max-width: 180px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
p:first-child {
  font-size: 1.5rem;
}
.entity-card-player {
  color: white;

  background-color: #ca2fdb;
}
.entity-card-enemy {
  color: white;

  background-color: #610d23;
}

p {
  margin: 0rem;
  padding: 0.1rem;
}
label {
  padding: 0.1rem;
}
