#sheet {
  padding: 1rem;
  border-radius: 8px;
  background-color: #3a2c54;
}

#liStats {
  background-color: #553464;
  scrollbar-width: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
#liStats:nth-child {
  padding-left: 0.5rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
  gap: 1rem;
}
p {
  margin: 0rem;
}

h2 {
  margin: 0;
  font-size: 0.9rem;
  width: 60%;
  text-wrap: balance;
}

menu {
  margin: 0;
  padding: 0;
}

menu button {
  font: inherit;
  cursor: pointer;
  background-color: #9965dd;
  border-radius: 4px;
  border: none;
  padding: 0.35rem 0.8rem;
  font-size: 0.9rem;
}

menu button:hover,
menu button:active {
  background-color: #a565dd;
}

ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 50vh;
  overflow: auto;
}
ul::-webkit-scrollbar {
  background-color: #82629d;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  width: 0.5rem;
}
ul::-webkit-scrollbar-thumb {
  background-color: rgb(199, 132, 186);
  border-radius: 10px;
  min-height: 24px;
}
ul::-webkit-scrollbar-track {
  background: #82629d;
  border-radius: 10px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 1.25rem;
  }

  menu {
    width: auto;
  }
}
button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 0.5rem;
  background-color: #9965dd;
  color: #c3b3d1;
  border: none;
  font: inherit;
  cursor: pointer;
  width: 10%;
  min-width: 10rem;
  text-align: left;
  height: 3rem;
}

button:hover,
button:active,
.active {
  background-color: #9965dd;
  color: #150722;
}

.character {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}
