.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 3rem;
}

.actions {
  display: flex;
  gap: 1rem;
}
.entity-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

button {
  background-color: #ae31aa;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  font-weight: 600;
}

.usableBtn:hover {
  background-color: #c843c3;
}
.unusableBtn {
  background-color: #774e76;
  cursor: default;
}
